{{define "footer"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kirgisisch-Deutsche Fakultet fur angewandte Informatik</title>
</head>

<div id="block-footer">
    <div id="footer-phone">
        <h4>Служба поддержки</h4>
        <h3>996 (707) 777 777</h3>
        <p>Режим работы:<br />
            Будние дни: с 9:00 до 18:00<br />
            Суббота, Воскресенье - выходные
        </p>
    </div>
    <div class="footer-list">
        <p>Über uns</p>
        <ul>
            <li><a href="http://kgfi.ksucta.kg/index.php/ru/">Für Interessierte</a></li>
            <li><a href="http://teleteaching.ksucta.kg/">Teleteaching</a></li>
            <li><a href="http://ksucta.kg/ru/2012-09-17-08-24-25/kyrgyzsko-germanskij-fakultet-informatiki.html?id=94">Kontakte</a></li>
        </ul>
    </div>

    <div class="footer-list">
        <p>Navigation</p>
        <ul>
            <li><a href="index.html">Start seite</a></li>
            <li><a href="registration_form">Registration</a></li>
        </ul>
        <p>Mitteilen</p>
        <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
        <div class="pluso" data-background="transparent" data-options="small,square,line,horizontal,nocounter,theme=08" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"></div>
    </div>
</div>
</html>
{{end}}